@model RazorProductApp.Models.Product

<div class="product-summary">
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
    <ul>
        @foreach (var cat in Model.Categories)
        {
            <li>@cat.Name</li>
        }
    </ul>
</div>
