@model BookstoreApp.Models.Book

<h2>Edit Book</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <input asp-for="Title" /><br/>
    <input asp-for="Author" /><br/>
    <input asp-for="Genre" /><br/>
    <input asp-for="Price" /><br/>
    <button type="submit">Save</button>
</form>
