@model IEnumerable<LibraryManagementSystem.Models.Book>

<h2>Books List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author?.Name</td>
                <td>@book.Genre?.Name</td>
            </tr>
        }
    </tbody>
</table>