<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/admin/dashboard">Admin Panel</a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item"><a class="nav-link" routerLink="/admin/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/orders">Orders</a></li>
      <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
      <li class="nav-item">
</li>

    </ul>
  </div>
</nav>

<!-- <div class="container mt-5">
  <h2 class="text-center mb-4">🛠 Admin Dashboard</h2>

  <div class="row g-4 justify-content-center">
    <div class="col-md-3">
      <button class="dashboard-btn btn-primary">
        <i class="bi bi-box-seam"></i><br>
        Manage Products
      </button>
    </div>

    <div class="col-md-3">
      <button class="dashboard-btn btn-secondary">
        <i class="bi bi-receipt"></i><br>
        Manage Orders
      </button>
    </div>

    <div class="col-md-3">
      <button class="dashboard-btn btn-success">
        <i class="bi bi-tag"></i><br>
        Manage Coupons
      </button>
    </div>

    <div class="col-md-3">
      <button class="dashboard-btn btn-info">
        <i class="bi bi-people"></i><br>
        Manage Users
      </button>
    </div>
  </div>
</div>
 -->
